.login-form{
    padding: 15px 5px;
    width: 30%;
    height: 80vh;
    border: 1px solid #2D3436;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-form > h2{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: #2D3436;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputs > input{
    width: 90%;
    padding: 7px 0px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #2D3436;
    margin-bottom: 30px;
    background: transparent;
    outline: none;
}

.submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.submit > input[type="submit"]{
    width: 90%;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    background-color: #2D3436;
    color: #F9CAA3;
    border-radius: 7px;
}

.submit > input[type="submit"]:disabled{
    opacity: 0.7;
}

.submit > a{
    text-decoration: none;
    color: #2D3436;
}

.form-container{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}